.list-item:hover > a {
  color: #fff !important;
  text-decoration: none;
}

.slider {
  overflow: hidden;
}

.product-device {
  position: absolute;
  width: 300px;
  height: 500px;
  border-radius: 1.2rem;
  transform: rotate(30deg);
}

.product-device::before {
  --distance: 10%;
  position: absolute;
  content: "";
  top: var(--distance);
  right: 4%;
  left: 4%;
  bottom: var(--distance);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.device-1 {
  top: -40%;
  bottom: 0;
  right: auto;
  left: 5%;
  background-color: #e5e5e5;
}

.device-2 {
  bottom: 0;
  top: 20%;
  left: auto;
  right: 4%;
  background-color: #333;
}

.device {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
}

footer a {
  transition: all ease-in-out 0.2s;
}

footer a:hover {
  color: #565e64 !important;
}
